.hero-section {
    width: 100%;
    height: 100%;
}

.module {
    width: 100%;
    height: 300px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2;
}

.module h1 {
    font-size: 64px;
}

.module p {
    font-size: 24px;
}

@media only screen and (min-width: 1024px) {

    .module {
        width: 600px;
    }

    .module h1 {
        font-size: 72px;
    }

}