.back-to-top-btn {
    z-index: 99;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 48px;
}

@media only screen and (max-width: 600px) {

    .back-to-top-btn {
        font-size: 32px;
    }

}