.stack-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.stack-container:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px #D800A6;
}