input {
    height: 50px;
}

textarea {
    box-shadow: 5px 10px #001054;
}

label {
    font-size: 20px;
    color: #001054;
}

.btn-contact {
    width: 180px;
    height: 60px;
    color: #FEDB39;
    font-size: 24px;
    font-weight: 700;
    border-radius: 30px;
    border: 0;
    background-color: #001054;
}

.btn-contact:disabled {
    width: 180px;
    height: 60px;
    color: #FEDB39;
    font-size: 24px;
    font-weight: 700;
    border-radius: 30px;
    border: 0;
    background-color: #001054;
}