.container-fluid {
    width: 100vw;
    height: 100vh;
    padding: 0;
}

/* custom css */

/* background */
.bg-darkBlue {
    background-color: #001054;
}

.bg-neonBlue {
    background-color: #31E1F7;
}

.bg-goldenYellow {
    background-color: #FEDB39;
}

.bg-pastelGreen {
    background-color: #1CD6CE;
}

/* text */
.text-neonBlue {
    color: #31E1F7;
}

.text-goldenYellow {
    color: #FEDB39;
}

.text-darkBlue {
    color: #001054;
}

.text-pink {
    color: #D800A6;
}

/* border */

.rounded-2 {
    border-radius: 2rem;
}

